@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

:root {
    --baseblue: #7da2ff;
}

* {
    font-family: 'Poppins', sans-serif;
}



.movie-list {
    flex-direction: row;
    display: flex;
    width: 100%;
    flex-wrap: wrap;   
}

.featured-movies {
    flex-direction: row;
    display: flex;
    width: 100%;
    flex-wrap: wrap;   
}

.contentmod {
    display: block;
    width: 300px;
    height: 400px;
    position: relative;
    box-shadow: 2px 2px 3px 1px gray;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--baseblue);
}

.contentmod:hover {
    display: block;
    width: 300px;
    height: 400px;
    position: relative;
    box-shadow: 4px 4px 5px 2px rgb(80, 79, 79);
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: var(--baseblue);
}

h2 {
    color: black;
    text-decoration: none;
    
}

p {
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

.loader {
    color: blue;
    font-weight: 800;
    animation: blink-animation 0.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
</style>